TEST_BROWSER=safari
TEST_TARGET=node
TEST_IDLE_TIMEOUT_MILLISECONDS=1000
API_URL=https://dev.e3db.com
CLIENT_REGISTRATION_TOKEN=
ID_REALM_NAME=IntegrationTest3d1d48cab605
ID_APP_NAME=integration-test
