language: node_js
git:
  depth: 1
  quiet: true
branches:
  only:
    - master
    - /^test\/.*$/
  except:
    - /^hack\/.*$/
script: npx jest
env:
  global:
    - TEST_LOCAL_USE_PROD=false
    - TEST_LOCAL_USE_CDN=false
    - TEST_IDLE_TIMEOUT_MILLISECONDS=100000
    - TEST_ENVIRONMENT=remote
    - TEST_BROWSER_VERSION=latest
jobs:
  include:
    - node_js: 10
      env: TEST_TARGET=node
    - node_js: 12
      env: TEST_TARGET=node
    - node_js: 14
      env: TEST_TARGET=node
    - node_js: 14
      env: TEST_TARGET=browser TEST_BROWSER=firefox TEST_BROWSER_PLATFORM="macOS 11.00"
      addons:
        sauce_connect: true
    - node_js: 14
      env: TEST_TARGET=browser TEST_BROWSER=chrome TEST_BROWSER_PLATFORM="macOS 11.00"
      addons:
        sauce_connect: true
    - node_js: 14
      env: TEST_TARGET=browser TEST_BROWSER=safari TEST_BROWSER_PLATFORM="macOS 11.00"
      addons:
        sauce_connect: true
    - node_js: 14
      env: TEST_TARGET=browser TEST_BROWSER=chrome TEST_BROWSER_PLATFORM="Windows 10"
      addons:
        sauce_connect: true
    - node_js: 14
      env: TEST_TARGET=browser TEST_BROWSER=firefox TEST_BROWSER_PLATFORM="Windows 10"
      addons:
        sauce_connect: true
    - node_js: 14
      env: TEST_TARGET=browser TEST_BROWSER=MicrosoftEdge TEST_BROWSER_PLATFORM="Windows 10"
      addons:
        sauce_connect: true
